/* Try different box model properties below */

.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.country {
  box-sizing: border-box;
  width: 100%;
  border: 5px solid whitesmoke;
  line-height: 35px;
  text-align: center;
}
