/* Try different box model properties below */

div.site-header p {
  color: white;
  margin-bottom: 0;
}
div.site-footer p {
  font-size: 12px;
  text-align: center;
}

.message.message--unread:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
