/* Add your CSS code below */
.link {
  color: tomato;
  font-weight: bold;
  text-decoration: none;
}
.message__content {
  font-size: 0.9rem;
}
.message--unread {
  border-left: 5px solid blue;
}

.message--old {
  opacity: 0.5;
}

.message {
  line-height: 2rem;
}
